body, textarea {
  font-family: monospace;
}

#nav-wrapper {
  flex-wrap: nowrap;
}

.page {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #DDD;
}

#columns {
  margin-top: 70px;
  /*padding: 0 1rem;*/
  display: flex;
}

.column {
  display: inline-block;
  padding: 0 2rem !important;
}

pre {
  white-space: pre-wrap;
  font-size: inherit;
  line-height: normal;
  margin: 0;
  margin-bottom: .5rem;
}

/* Modal top margin tweak
.modal-dialog {
  margin-top: 70px;
}*/

.modal-content {
  box-shadow: 2px 2px 2px;
}

/* Folating labels tweak */
.form-floating>label {
  left: unset;
}

#content-input {
  height: 70vh;
}

.full-width {
  width: 100%;
}

nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#alertWrapper {
  text-align: center;
}

#alert {
  display: inline-block;
  box-shadow: 3px 3px 3px;
}

.hidden {
  display: none;
}